html, body {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

/* headings */
h1, h2, h3{
  padding-left: 10px;
}


 /* main header */
header {
    display: flex;
    background-color: skyblue;
    color: white;
    justify-content: flex-end;
    align-items: center;
  }
  
  h1{
    font-weight: bolder;
    padding-left: 10px;
  }

  h1 span{
    font-weight: lighter;
  }
  
  #memberLogin{
    border-radius: 50%;
    height: 50px;
    margin-right: 20px;
  }

  #memberLoginName{
    display: none;
  }

  .line {
    margin:  0.8em;
    padding: 20px 0;
    border-right: 2px solid #5d61bf;
    height: 10px;
    opacity: 0.7;
  }

  #bell {
    height: 30px;
    cursor: pointer;    
  }

  #bell:hover{
    animation-name: spin;
    animation-duration: 1s;
  }

  @keyframes spin {
    0% {
        transform: rotate(0deg);

    }
    50% {
        transform: rotate(90deg) scale(2);
    }

    100%{
      transform: scale(1);
    }
}
.jason {
	border-radius: 50%;
}
.notifications-wrapper,
.main-header-search{
 margin-left: auto;
}

  .notifications-wrapper{
    position: relative;
  }

  .notification-marker{
    background-color: orange;
    height:8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
  }

  .notification-box{
    position: absolute;
    width:300px;
    right:5px;
    border: black;
    opacity: 0;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 4px 8px 0 black;
    background-color: #4d4b72
  }

  .notify-items img{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .notify-items{
    display: flex;
    margin-left:10px;
    border-top: lightgray solid 1px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    line-height: 0;
  }

  .notification-box h2{
    color: white;
    font-weight:lighter
  }

  .notification-box h2 span{
    font-weight: bold;
    color: #78CF82
  }

  /* navigation bar */
  nav {
    display: flex;
    grid-area: navigation;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
  }

  .navImages {
    padding: 0.6em;
    margin: 1.5em;
    height:30px;
  }

  /* OpeningSearch */
   #search{
    display: flex;
    align-items: center;
   }
   
  .search:focus{
    outline: none;
  }

   /* alert */
  #alert{ 
    background-color: #7377bf;
    color: white;
    border-radius: 5px;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 5px 3px 0 lightgray;
  }

  .alert-banner {
    display: flex;  
    justify-content: space-between;
  }

  .alert-banner p{
    margin-left: 10px;
  }

  .alert-banner-close{
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    padding-right: 1em;
    margin-bottom: auto;
    margin-top: auto;
    text-align: end;
  }

  /* charts */
.widget-container-full,
.widget-container-half{
    position: relative; 
    height:25vh; 
    width:90vw;
    margin: auto;
    }

  ul{
    text-align: end;
    padding-right: 20px;
  }

  li{
    list-style: none;
    display: inline-block;
    padding-left: 10px; 
    padding: 5px;
    border-radius: 20px;

  }
  li:hover {
    background-color: orange;
    color: white;
  }

  .daily{
    margin: 0 20px;
  }

/* Socials, new Members and activities*/
  #social-heading{
    margin-bottom: 10px;
  }

  .social{
    display: block;
  }

  svg{
    overflow: visible;
    fill: white; 
    background-color: orange; 
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    float: left;
  }

  .twitter,
  .facebook,
  .google{
    border: lightgray solid 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

 .social-title {
   color: #7377bf;
   font-size: 2em;
   margin: 0;
  }

  .social-stat{
    font-size: 2.5em;
    margin: 0;
  }

  hr{
    display: none;
  }

  /* new Members and activities */
  .members-container,
  .activity-container{
    display: flex;
    border: lightgray solid 1px;
    border-radius: 10px;
    height: 110px;
    margin: 10px;
    padding: 10px;
  }

  .members,
  .activity{
    border: lightgray;
    border-style: solid;
    border-width: 0.5px;
    padding: 10px;
  }

  .profile-image{
    height: 95px;
    border-radius: 50%;
    margin-left: 0;
    margin-top: 5px;
  }

  .members-text,
  .activity-text{
    margin-left: 30px;
  }

  .activity-text .memberNames{
    font-weight: normal;
  }
  
  .memberNames{
    font-weight: bold;
    margin: 2px 0 10px 0;
    font-size: 1.2em;
  }

  .members-text a {
    text-decoration: none;
  }

  .info{
    color: gray;
    margin-bottom:10px;
  }
  
.arrow{
  color:#7377bf;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 0 auto;

}

  /* message user */
  .message,
  .settings{
    border: lightgray solid 0.5px;
  }

  .form-field,
  .form-area{
    text-align: left;
    width: 95%;
    border: lightgray 1px solid;
    margin-left:13px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .form-area{
    height: 150px;
    margin-top: 10px;
  }

  .form-field,
  .form-area:focus {
    outline: none;
  }

  .suggestions{
    width: 93%;
    padding-left: 10px;
  }

  .suggestions div {
    text-align: center;
    font-size: 1em;
    border: lightgray solid 0.5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .suggestions div:hover{
    background-color: #7377bf;
    color: white;
  }

  #send{
    margin-left:15px;
    width: 95%;
    margin-bottom: 10px;
  }

  #send,
  #save,
  #cancel{
    height: 2em;
    border-radius: 10px;
    border: none;
    background-color:#7377bf;
    color: white;
    text-transform: uppercase;
  }
    
  /* Settings */
  .toggle {
    margin-left:10px;
    margin-right: 20px;
  }

  .settings h3{
    margin-bottom: 5px;
  }

  .toggle p {
    display: inline-block;
    margin-bottom: 40px;
  }

  .onoffswitch{
    margin-top: 10px;
    float: right;
  }

  #timezone{
    margin-top: 20px;
  }

  #save,
  #cancel{
    margin: 10px 15px 40px 25px;
    width: 42%;
  }

  #cancel{
    background-color:grey;
  }

  button:focus {
    outline: none;
  }

  #savings-message{
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 50px;
  }

@media(min-width: 768px) {
  .grid-container {
    grid-template-columns: 100px 95%; 
    grid-template-areas:
    "header header"
    "navigation main";
  }

  .main{
      display: grid;
      grid-auto-columns: 46%;
  }

    /* main header */
    header{
      grid-area: header;
    }

    #memberLogin{
      margin-left: 1%;
    }

    #memberLoginName{
      display: inline-block;
      margin-right: 10%;
    }
 
    /* nav bar */
    nav {
      flex-direction: column;
      justify-content: flex-start; 
    }

    /* OpeningSearch */
    #search{
      grid-column: 1 / span 2;
      margin-right: 20px;
    }

  .main-header-search{
    justify-content: flex-end;
    padding-top: 40px;
    margin-bottom: 10px;
  }

  .search{
    margin-bottom: 30px;
    width: 300px;
    height: 2em;
    margin-left: 25px;
  }

  /*alert */
#alert{
  grid-column: 1 / span 2;
      margin: 0 20px;
}

  .alert-banner-close{
    justify-items: right;
  }

  /* charts */

.widget-container-full{
  width:90%;
  height: 35vh;
}

  .widget-container-half {
    height:25vh; 
    width:35vw;
    padding-bottom: 20px;
  }

  .daily {
    border: 0.5px solid lightgrey;
    grid-column: 1 / span 1;
    margin-right:10px;
    /* height: 80vh; */
  }

  .mobile {
    border: 0.5px solid lightgrey;
    grid-column: 2 / span 1;
  }

  
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  /* social Media */
  #social-heading{
    margin-top: 20px;
  }

  svg{
    height: 40px;
    padding: 15px;
  }

  .social-title {
    font-size: 1.5em;
  }

  .social-stat{
    font-size:2em;
  }

  .social-title,
  .social-stat{
    text-align: left;
    padding-left: 90px;
    margin-right: 1rem;
  }

  .social{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .twitter,
  .facebook,
  .google{
    flex-grow: 1;
  }

    /* new members & activity */
  .members-container,
  .activity-container{
    border: none;
    margin: 0;
    padding: 0;
  }

  .members h3,
  .activity h3{
    margin: 0 0 20px;
  }

  .profile-image{
    height: 75px;
  }

  .members-text,
  .activity-text{
    margin-left: 10px;
}

.arrow{
margin-bottom: auto;
}

  hr{
    display: inline-block;
    margin-top: 10px;
    width: 95%;
    border: lightgray solid 0.5px;
  }

  /* message user */
  .form-field,
  #send{
    width: 90%;
    margin-bottom: 10px;
  }
  
  .form-area{
    height: 150px;
    width: 90%;
  }

  #save {
    margin-left: 15px;
    width: 40%;
  }

  #cancel{
    margin: 0;
  }
}

@media(min-width: 1024px) {
  h1, h2, h3{
    padding-left: 20px;
  }

  .main{
    grid-auto-columns: 48%;
  }

  #memberLoginName{
    margin-right: 5%;
  }

  .widget-container-full{
    width:95%;
    height: 45vh;
  }

  .widget-container-half {
    height:45vh; 
    width:35vw;
    padding-bottom: 20px;
  }

}
